body{
    margin: 0;
    padding: 0;
}
.section-height{
    min-height: 625px;
}
.category-height{
    min-height: 200px;
}
a:hover{
    text-decoration: none;
}
.bg{
    background: rgb(102, 147, 245); 
}
input:focus{
    outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}